<header
    class="d-flex justify-content-center align-items-center py-3 col-12"
    id="header"
>
    <div class="col-11 d-flex justify-content-center align-items-center">
        <h3 class="text-light col-6">RESUME.ai</h3>
        <div class="col-6 d-flex flex-row justify-content-end gap2">
            <button
                type="button"
                class="btn btn-primary col-12 col-xxl-3 col-md-8 col-sm-10"
            >
                LOGIN
            </button>
        </div>
    </div>
</header>
