<div class="col-12 d-flex flex-column pt-4 pb-4" id="resume-section">

  <section class="col-12 d-flex flex-row flex-wrap">
    <h1 class="col-12 text-light p-2">MY RESUMES</h1>
  </section>
  <section class="col-12 d-flex flex-row flex-wrap gap-1 p-2">
    <button
      type="button"
      class="btn btn-primary col-12 col-xxl-2 col-md-4"
      (click)="submitSaveHandler()"
    >NEW RESUME</button>
    <button
      type="button"
      class="btn btn-primary col-12 col-xxl-2 col-md-4"
    >AI RESUME MAKER</button>
  </section>

</div>

