#dashboard{
  font-family: 'Roboto Condensed', sans-serif;
}


#dashboard button{
  border-radius: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
#section{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.09);
  font-family: 'Roboto Condensed', sans-serif;
}



#dashboard div{
  background: rgba(0, 0, 0, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.09);
  font-family: 'Roboto Condensed', sans-serif;
}
#dashboard input{
  border-radius: 0;
}
