#button-section{
  font-family: "Roboto Condensed", sans-serif;
}
#button-section button{
  border-radius: 0;
}
section{
  min-height: 25vh;
}

.form-group{
  color: white;
}
.form-group input{
  border-radius: 0;
}
#form-group small{
  color: white;
}
form{
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.09);
  font-family: "Roboto Condensed", sans-serif;
}
#form input{
  outline: none;
  border: none;
}
form input:focus{
  outline: none;
  border: none;
}
