<div class="d-flex justify-content-center align-items-center col-12 vh-100 max-vh-100 flex-column">
  <form class="col-11 col-xxl-4 col-md-8 col-sm-7 p-4">
    <div class="col-12">
      <section>
<!--        <div class="form-group col-12">-->
<!--          <label for="exampleInputEmail1">Email address</label>-->
<!--          <input type="email" class="form-control col-12" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--          <small id="emailHelp" class="form-text text-muted text-light">We'll never share your email with anyone else.</small>-->
<!--        </div>-->

        <div class="col-12">
          <div class="form-group col-12">
            <label for="firstName">First Name</label>
            <input type="email" class="form-control col-12" id="firstName" aria-describedby="firstNameHelp" placeholder="Enter First Name">
            <small class="form-text text-muted text-light">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group col-12">
            <label for="middleName">Middle Name</label>
            <input type="email" class="form-control col-12" id="middleName" aria-describedby="lastNameHelp" placeholder="Enter Middle Name">
            <small class="form-text text-muted text-light">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group col-12">
            <label for="lastName">Last Name</label>
            <input type="email" class="form-control col-12" id="LastName" aria-describedby="lastNameHelp" placeholder="Enter Last Name">
            <small class="form-text text-muted text-light">We'll never share your email with anyone else.</small>
          </div>
        </div>

      </section>
    </div>
    <div class="col-12 d-flex justify-content-start align-items-center gap-2 flex-wrap" id="button-section">
      <button type="button" class="btn btn-light col-12 col-xxl-2 col-md-4">PREV</button>
      <button type="button" class="btn btn-light col-12 col-xxl-2 col-md-4">NEXT</button>
    </div>
  </form>
</div>



