<app-header></app-header>
<app-footer></app-footer>

<div class="d-flex flex-column col-12 vh-100">
    <div
        class="d-flex justify-content-center align-items-center col-12 vh-100 max-vh-100 flex-column"
        id="hero"
    >
        <h1 class="text-light text-center w-100">
            Transform your career prospects <br />with
            <span class="font-weight-bold">RESUME.ai</span> innovative AI resume
            builder
        </h1>
        <h5 class="text-light text-center w-100">
            EASY | FAST | PROFESSIONAL | SMART
        </h5>
        <button
            type="button"
            class="btn btn-primary mt-4 p-2 col-11 col-xxl-2 col-md-7 col-sm-9"
        >
            REGISTER NOW
        </button>
    </div><h1>hello</h1>
</div>
