<div class="d-flex flex-row  flex-wrap justify-content-around align-items-start col-12 pt-2  mb-2" *ngIf="!showEditForm" id="resp-item">
  <p class="col-12 col-xl-10 col-xxl-11  p-0 ">{{responsibility.responsibility}}</p>
  <section class="col-12 col-xl-1 col-xxl-1 d-flex flex-row pb-2" id="resp-button">
    <i class="fa-solid fa-pen-to-square" (click)="toggleShowEditForm($event)"></i>
    <i class="fa-solid fa-x" (click)="submitDeleteHandler(responsibility.responsibilityId)"></i>
  </section>
</div>
<app-resp-edit-form *ngIf="showEditForm" class="col-12" [responsibility]="responsibility" (toggleForm)="toggleShowEditForm($event)" ></app-resp-edit-form>
