<div class="col-12 d-flex flex-column pt-4 pb-4" id="exp-section">
  <section class="col-12 d-flex flex-row flex-wrap">
    <h1 class="col-12 text-light p-2">MY EXPERIENCE</h1>
  </section>
  <section class="col-12 d-flex flex-row flex-wrap gap-1 p-2">
    <app-exp-form class="col-12" [experience]="undefined"  [forEdit]="false"></app-exp-form>
  </section>
  <section class="col-12 d-flex flex-column flex-wrap gap-1 p-2">
    <app-exp-card class="col-12"  *ngFor="let exp of experienceList"  [experience]="exp"></app-exp-card>
  </section>
</div>

